sympy>=1.11.1
perlin_numpy @ git+https://github.com/pvigier/perlin-numpy.git@5e26837db14042e51166eb6cad4c0df2c1907016
waveprop>=0.0.10
slm_controller @ git+https://github.com/ebezzam/slm-controller.git