jedi==0.18.0
lpips==0.1.4
pylops==1.18.0
scikit-image>=0.19.0rc0
click>=8.0.1
waveprop>=0.0.10     # for simulation

# Library for learning algorithm
torch >= 2.0.0
torchvision
torchmetrics
lpips
wandb
datasets