hydra:
  job:
    chdir: True    # change to output folder

input:
  # File path for recorded PSF
  psf: data/DiffuserCam_Test/psf.tiff
  # File path for raw data  
  data: data/DiffuserCam_Test/diffuser/im2.npy
  dtype: float32

torch: True
torch_device: 'cpu'

preprocess:
  # Downsampling factor along X and Y
  downsample: 8
  # Image shape (height, width) for reconstruction.
  shape: null
  # Whether to flip image.
  flip: False
  # Whether image is raw bayer data.
  bayer: False
  blue_gain: null
  red_gain: null
  # Same PSF for all channels (sum) or unique PSF for RGB.
  single_psf: False
  # Whether to perform construction in grayscale.
  gray: False


display:
  # How many iterations to wait for intermediate plot. 
  # Set to negative value for no intermediate plots.
  disp: 50
  # Whether to plot results.
  plot: True
  # Gamma factor for plotting.
  gamma: null

# Whether to save intermediate and final reconstructions.
save: True

gradient_descent:
  # Number of iterations
  n_iter: 300
  # Method: vanilla, nesterov, fista
  method: fista
  # Hyperparameters for each method
  nesterov:
    p: 0
    mu: 0.9
  fista:
    tk: 1

admm:
  # Number of iterations
  n_iter: 20
  # Hyperparameters
  mu1: 1e-6
  mu2: 1e-5
  mu3: 4e-5
  tau: 0.0001
  #Loading unrolled model
  unrolled: True
  checkpoint_fp: pretrained_models/Pre_Unrolled_Post-DiffuserCam/model_weights.pt
  pre_process_model: 
    network : UnetRes  # UnetRes or DruNet or null
    depth : 2 # depth of each up/downsampling layer. Ignore if network is DruNet
  post_process_model: 
    network : DruNet  # UnetRes or DruNet or null
    depth : 2 # depth of each up/downsampling layer. Ignore if network is DruNet

apgd:
  # Stopping criteria
  max_iter: 1000
  rel_error: 1e-6
  acceleration: True     
  # Differentiable prior / regularization: l2, null
  diff_penalty: null
  diff_lambda: 0.001
  # Proximal prior / regularization: nonneg, l1, null
  prox_penalty: nonneg
  prox_lambda: 0.001
  # Lipschitz
  lipschitz_tight: True
  lipschitz_tol: 1.0
