# python scripts/data/upload_dataset_huggingface.py
hydra:
  job:
    chdir: True    # change to output folder

repo_id: null
hf_token: null
n_files: null
test_size: 0.15
multimask: False
split: first   # "first: first nfiles for test, `int`: test_size*split for test (interleaved) as if multimask
n_jobs: 1

lensless:
  dir: null
  ext: null  # for example: .png, .jpg
  eight_norm: False   # save as 8-bit normalized image

lensed:
  dir: null
  ext: null

# additional files to upload to root folder, e.g. PSF
files: null