sphinx==5.0.2
sphinx_rtd_theme==0.4.3
docutils==0.16     # >0.17 doesn't render bullets
numpy>=1.22      # so that default dtype are correctly rendered
torch>=2.0.0
torchvision>=0.15.2
torchmetrics>=0.11.4
pyFFS>=2.2.3   # for waveprop
waveprop>=0.0.9
tqdm
omegaconf